#root {
  background: #f4f4f5;
}
.aboutbg {
  display: flex;
  width: 100%;
  min-height: 952px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.aboutright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: tan;
}
.aboutleft {
  width: 50%;
  // background-color: yellow;
}
.formsub {
  background: #f4f4f5;
  width: 80%;
  padding: 60px 40px;
  height: 724px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.aboutbtn {
  display: block;
  margin: 0 auto;
  width: 329px;
  height: 60px;
  background: #087bdc;
  border-radius: 50px;
  font-size: 24px;
}
.aboutbtnuodata {
  color: #8e8e8e;
  box-sizing: border-box;
  border-radius: 50px;
  width: 235.41px;
  height: 55px;
  font-size: 24px;
  margin-right: 30px;
}
.fontsize {
  font-size: 16px;
}
.checkwh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkwh input {
  position: static;
  width: 30px;
  height: 32px;
}
.checkwh label {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.aboutmb24 {
  margin-bottom: 24px;
}
