$primary: #087bdc;
$danger: #d34f4f;
$secondary: #fac42e;
$block-radious-cart: 20px 20px 0px 0px;
$block-radious: 20px;
$block-background: #fff;
$hr-color: #c7c7c7;

.profile-img-cover {
  border-radius: 20%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.proflie-width {
  margin: 20px;
}
.list-styled tr td,
.evaluation-list-styled tr td,
.summary-list-styled tr td {
  padding-left: 10px;
}
.evaluation-font {
  color: $primary;
}

.summary-list-styled {
  width: 100%;
  height: 200px;
  background-color: $block-background;
  border-radius: $block-radious;
  table-layout: fixed;
  word-break: break-all;
}
.calendar-bg {
  width: 100%;
  height: auto;
  background-color: $block-background;
  border-radius: $block-radious;
}
.sitter-icon {
  color: $secondary;
  // margin-right: 5px;
}
.board-pic img {
  border-radius: 10%;
  // margin: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.evaluation-img-cover {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
