$primary: #087bdc;
$danger: #d34f4f;
$block-radious-cart: 20px 20px 0px 0px;
$block-radious: 20px;
$block-background: #fff;
$hr-color: #c7c7c7;
.img-cover {
  border-radius: 20%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.proflie-width {
  margin: 20px;
}
.list-styled tr td,
.summary-list-styled tr td {
  padding-left: 10px;
}
.evaluation-font {
  color: $primary;
}

.summary-list-styled {
  width: 100%;
  height: 200px;
  background-color: $block-background;
  border-radius: $block-radious;
  table-layout: fixed;
  word-break: break-all;
}
