$block-radious: 20px;
$block-background: #fff;

.height {
  height: 100vh;
}
.table-title-styled {
  width: 100%;
  background-color: $block-background;
  border-radius: $block-radious;
  table-layout: fixed;
  word-break: break-all;
}

.table-list-styled {
  width: 100%;
  background-color: $block-background;
  border-radius: $block-radious;
  table-layout: fixed;
  word-break: break-all;
}

.table-title-styled tr td {
  padding: 10px 0px 10px 40px;
}

.table-list-styled tr td {
  padding: 20px 0px 20px 40px;
}

.img-cover-sm-square {
  border-radius: 20%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.adderss-width {
  width: 300px;
}
