$frame-backgroundcolor: #ffffff;
$data-block-bg-color: #f4f4f5;
$right_navbar_color: #51535b;
$right_navbar_hover_color: #087bdc;

// Record page common class
.frame {
  background-color: $frame-backgroundcolor;
  padding: 30px;
  border-radius: 10px;
}

.title_font {
  line-height: 38px;
}

.list_styled {
  list-style-type: none;
}

//底部留白
.Bottom_blank {
  padding-bottom: 100px;
}
