$primary: #087bdc;
$secondary: #fac42e;
$text-color: #163d61;

$block-radious: 20px;
$block-background: #fff;

.intro-height {
  height: calc(100vh - 60px);
  // border: 1px solid black;
}

.p-top {
  padding-top: 150px;
}
.intro-1 {
  color: $text-color;
  z-index: 2;
  color: $text-color;
}

.box-step {
  width: 100%;
  height: 150px;
  background-color: $primary;
  border-radius: $block-radious;
}
.align-right {
  margin-left: 700px;
  line-height: 2em;
}

.align-right ul li {
  list-style-type: none;
}

.map {
  width: 1600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 30%);
}

// map
// .map-height {
//   height: 300px;
//   width: 100%;
// }
// .map-ifram {
//   border: 0;
// }
// .map-container {
//   overflow: hidden;
//   padding-bottom: 56.25%;
//   position: relative;
//   height: 0;
//   z-index: 2;
// }
// .map-container iframe {
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   z-index: 2;
// }

// 保母評價區塊
.eva-margin {
  margin-top: 100px;
  margin-bottom: 50px;
}
.eva-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 5%);
}

.evaluation-card {
  width: 300px;
  height: 300px;
  background-color: $block-background;
  border-radius: $block-radious;
  position: relative;
}

.img_cover_sm {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  border: 5px solid $secondary;
  left: calc((100% - 150px) / 2);
  top: -20px;
}

.evaluation-content {
  padding: 135px 10px 30px 10px;
}

.eva-content-text {
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.star-color {
  color: $secondary;
}
.eva-btn-margin {
  margin-top: 100px;
}

// background images

.intro-1-img {
  max-width: 65%;
  position: absolute;
  right: 0px;
  top: 50px;
  // z-index: -1;
}

.how-to-book-img {
  max-width: 100%;
}

.city-bg-img {
  max-width: 90%;
  position: absolute;
  left: 0px;
  // top: calc(1000px - 200px);
  top: calc(1000px);
  // z-index: -1;
}

.join-us-img {
  max-width: 65%;
  position: absolute;
  right: 0px;
  // top: 200px;
  top: calc(100vh * 3 - 100px);
  // z-index: -1;
}

.calendar-img {
  max-width: 60%;
  position: absolute;
  left: 0px;
  // top: 200px;
  top: calc(100vh * 4 - 100px);
  // z-index: -1;
}
.chat-bg-img {
  max-width: 60%;
  position: absolute;
  right: 0px;
  // top: 200px;
  top: calc(100vh * 5 - 100px);
  // z-index: -1;
}
.footer-index {
  height: 100px;
}
