$block-radious: 20px;
$block-background: #fff;
$background-color: #f4f4f5;

.login-bg-block {
  width: 100%;
  height: 550px;
  background-color: $block-background;
  border-radius: $block-radious;
  margin: 30px auto;
}

.login-img {
  width: 115%;
}

.login-block {
  width: 500px;
  height: 450px;
  border-radius: $block-radious;
  background-color: $background-color;
  margin: auto;
}

.login-list-styled {
  padding: 20px;
}
.login-list-styled li {
  list-style-type: none;
  margin-bottom: 20px;
}
