// 會員&保母都要用到
$border-color: #c7c7c7;

.control_lh {
  list-style-type: none;

  li {
    line-height: 38px;
  }
}

.record_block {
  border: 3px solid $border-color;
  border-radius: 20px;
}

.divider {
  border-right: 3px solid $border-color;
  border-left: 3px solid $border-color;
}
